
.IE button{width:1%;overflow:visible;}

.hotcarousel {
}
.foo {
	float:left;
}

.hotcarousel .js .carousel-wrap{vertical-align:middle;margin:0 5px;}
.IE .hotcarousel .js .carousel-wrap{display:inline;}
.hotcarousel ul{margin:0;padding:0;}
.hotcarousel .js ul li{overflow:hidden;display:inline;float:left;text-align:center; margin:0; padding:0;list-style:none;background:none;}
.hotcarousel .carousel-control{overflow:hidden;display:inline-block;vertical-align:middle;width:31px;cursor:pointer;line-height:999px;}
.hotcarousel .disabled,.hotcarousel .disabled:hover{cursor:default;}
div.carousel-pagination { color:#fff; cursor:pointer; text-align:center; }
div.carousel-pagination a { padding:0 6px; }
