
        @import url("theme/nitobi/fisheye.css");
    
        @import url("theme/nitobi.reset.css");
    
        @import url("theme/clearback/fisheye.css");
 
		
.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	/*height:1px;*/
	overflow:hidden;
	width:auto;
}