/* Joomla 1.5 buttons */

/* 48 pixels */
.icon-48-jafilia-logo48x48 { background-image: url(../../../../media/com_jafilia/images/jafilia-logo48x48.png); }
.icon-48-configuration48 { background-image: url(../../../../media/com_jafilia/images/configuration48.jpg); }
.icon-48-partner48 { background-image: url(../../../../media/com_jafilia/images/partner48.jpg); }
.icon-48-clicks48 { background-image: url(../../../../media/com_jafilia/images/clicks48.jpg); }
.icon-48-fee48 { background-image: url(../../../../media/com_jafilia/images/fee48.jpg); }
.icon-48-banners48 { background-image: url(../../../../media/com_jafilia/images/banners48.jpg); }
.icon-48-charts48 { background-image: url(../../../../media/com_jafilia/images/charts48.png); }
.icon-48-aboutus48 { background-image: url(../../../../media/com_jafilia/images/aboutus48.jpg); }
.icon-48-help48 { background-image: url(../../../../media/com_jafilia/images/help48.jpg); }
