/* == AccountExpiration Basic Style by David 'skOre' Deutsch == */

/* == "Not Allowed" Page styling == */

table#cc_list {
clear: both;
width: 100%;
}

cc_list.tr {
height: 60px;
}

td.cc_icons {
width: 60%;
padding: 5px;
}

img.cc_icon {
padding: 0 2px;
}

td.cc_gateway {
padding: 5px;
width: 40%
}

/* == Subscription Plans Page == */

.subscriptions {
padding: 0 12px;
}

.subscriptions table {
width: 100%;
padding-top: 4px;
}

.subscriptions th {
padding: 2px;
font-family: Georgia, "Times New Roman", serif;
font-size: 160%;
font-weight: normal;
text-align: left;
color: #000;
border-bottom: 1px solid #003e56;
width: 100%;
}

.subscriptions td {
margin: 6px;
font-family: Tahoma, Verdana, Helvetica, sans-serif;
font-size: 110%;
text-indent: 20px;
color: #222;
}

.subscriptions td.buttons {
padding: 0px 12px;
border: none;
background: #b0efff;
text-align: right;
text-indent: 0px;
}

.gateway_button {
position: relative;
float: right;
background: #fff;
padding: 0px 4px;
margin: 0px 4px;
}

.func_button {
position: relative;
float: left;
background: #fff;
padding: 0px 4px;
margin: 0px 4px;
}

div.aec_ilist_group {
border-color: #ddd #bbb #aaa #ddd;
border-style: solid;
border-width: 1px 2px 2px 1px;
float: left;
margin-bottom: 1px;
margin-top: 5px;
padding: 4px;
width: 98%;
background: #fff;
}

div.aec_ilist_item {
border-color: #ddd #bbb #aaa #ddd;
border-style: solid;
border-width: 1px 2px 2px 1px;
float: left;
margin-bottom: 1px;
margin-top: 5px;
padding: 4px;
width: 98%;
background: #fff;
}

div.aec_groupbutton {
width: 100%;
border: none;
background: #bbb;
text-align: right !important;
text-indent: 0px;
float: left;
clear: both;
}

div.aec_group_backlink {
width: 100%;
background: #ddd;
float: left !important;
clear: both;
margin-bottom: 16px;
}

div.aec_procbuttons {
width: 100%;
border: none;
background: #b0efff;
text-align: right !important;
text-indent: 0px;
float: left;
clear: both;
}

table.aec_items {
padding: 4px;
width: 100%;
background: #eee;
}

table.aec_items td {
padding-bottom: 5px !important;
border-bottom: 1px dotted #ccc;
}

/* == Style for the PaymentPage OLD Style== */

/* == Style for the Payment Plans Box == */

.box_introduction {
width: 30em;
float: left;
margin: 0 4em;
background: #b0efff;
}

.introduction_text {
text-align: center;
}

.box_oneplan { /*Wrapping Box for one payment plan*/
position: relative;
float: left;
width: 95%;
margin: 5px;
}

.box_name { /*Box that holds the plans name*/
position: relative;
float: left;
width: 600px;
height: 24px;
border-bottom: 2px solid #003e56;
padding: 1px;
}

H1.plan_name { /*Style for the name of the plan*/
padding-left: 1em;
margin-top: 4px;
}

.box_info { /*Box that holds all the plan information*/
position: relative;
width: 60%;
float: right;
margin: 5px auto;
background: #b0efff;
}

P.plan_desc { /*The plans description*/
margin-top: 1px;
padding-left: 1em;
padding-bottom: 1em;
}

/* == Style for the Payment Gateways Box == */

#allgateways { /*Wrapping Box for Payment Gateways*/
position: relative;
float: left;
width: 100%;
margin: 0 auto;
}

.box_onegateway { /*Wrapping Box for one Payment Gateway*/
position: relative;
float: left;
width: 165px;
border-bottom: 1px solid #003e56;
border-left: 1px solid #003e56;
border-right: 1px solid #003e56;
margin: 4px;
}

.box_outer_button { /*Wrapping Box for one Button*/
position: relative;
height: 80px;
margin: auto auto;
width: 140px;
}

.box_button { /*Second Wrapping Box for one Button*/
position: relative;
top: 25px;
height: 60px;
margin: 0 auto;
text-align: center; /*workaround for IE*/
}

.box_gateway_description { /*Wrapping Box for Gateway Description*/
border: 1px solid #003e56;
background-color: #fff;
padding: 2px;
margin: 5px;
}

H1.gateway_title { /*Description Text Heading*/
display: block;
font-size: 90% !important;
border-bottom: 1px solid #003e56;
padding-bottom: 2px;
}

P.gateway_description { /*Description Text*/
display: block;
font-size: 90% !important;
}

input.box_select { /*Radio Button Style*/
padding-top: 50% !important;
}

/* == Styling for Thank you and Cancel Pages == */

table.plan_disclaimer { /*disclaimer at the end of the PaymentPlan Site*/
background: #eee;
border: 1px solid #999;
font-family: Tahoma, Verdana, Helvetica, sans-serif;
font-size: 95%;
text-indent: 2px;
}

table.payment_details {
background: #eee;
border: 1px solid #999;
font-family: Tahoma, Verdana, Helvetica, sans-serif;
font-size: 95%;
text-indent: 2px;
}

td.payment_item {
padding: 4px;
}

.payment_item {
margin: 10px 10px 0px 10px;
color: #000000;
}

.payment_date {
color: #505050;
text-align: right;
margin: 0px;
}

/* == Styling for the Expired Page == */

#box_expired {
width: 90%;
margin: 5% auto;
text-align: center;
clear: both;
}

#box_pending {
float:left;
width: 90%;
margin: 5% auto;
text-align: center;
padding-bottom: 40px;
}

#alert_level_3 {
width: 100%;
height: 100%;
background-color: #bfb;
}

#alert_level_1 {
width: 100%;
height: 100%;
background-color: #fcc;
}

#alert_level_-1 {
width: 100%;
height: 100%;
background-color: #fcc;
}

#alert_level_2 {
width: 100%;
height: 100%;
background-color: #ffb;
}

#expired_greeting {
padding-top: 14px;
border: 2px solid #fff;
}

#box_expired p {
text-align: center;
}

#box_expired strong {
font-weight: bold;
}

#days_left{
padding-top: 14px;
border: 2px solid #fff;
}

* html #days_left{
}

#days_left h1 {
font-weight: bold;
font-size: 130%;
text-align: center;
}

#days_left p {
font-weight: bold;
font-size: 110%;
text-align: center;
}

#days_left strong {
font-weight: bold;
font-size: 110%;
text-align: center;
}

#renew_button {
padding: 25px;
text-align: center;
border: 2px solid #fff;
}

#upgrade_button {
padding: 15px;
text-align: center;
border: 2px solid #fff;
position: relative;
text-align: center !important;
display: block;
}

#renew_info {
padding: 5px;
text-align: center;
border: 2px solid #fff;
}

/* == Styling for the Confirmation Page == */

#confirmation {
width: 97%;
}

div#confirmation_info {
float: left;
padding: 0 8px 0;
margin: 0 12px 0;
width: 97%;
}

div#confirmation_extra {
float: left;
background: #ddd;
border:1px solid #ccc;
padding: 0 8px 8px 8px;
margin: 0 12px 16px 12px;
width: 97%;
}

div#confirmation_error {
float: left;
background: #fcc;
border:1px solid #faa;
padding: 8px;
margin: 0 12px 16px 12px;
width: 97%;
}

div.confirmation_error_bg {
float: left;
background: #fcc;
width: 100%;
}

div#confirmation_button {
float: left;
background-color: #ded;
padding: 8px;
margin: 0 12px 16px 12px;
width: 97%;
}

div#update_button {
float: left;
background-color: #eed;
padding-right: 8px;
margin: 2px 2px;
width: 98%;
text-align: right !important;
}

div#continue_button {
float: left;
background-color: #dee;
padding-right: 8px;
margin: 6px 2px;
width: 100%;
text-align: left;
}

#confirmation table {
float:left;
width: 100%;
padding-top: 10px;
}

#confirmation th {
background: #EEEEEE;
padding: 6px;
margin: 3px;
}

#confirmation td {
padding: 10px;
margin: 3px;
text-align: center;
}

td.confirmation_description {
text-align: left;
}

td#confirmation_button {
}

td#confirmation_extra td {
padding: 2px !important;
}

td#confirmation_extra table {
padding: 0 !important;
}

#confirmation .button{
clear: both;
display:block;
float:right;
margin: 6px;
}

div.setting_desc {
position: relative;
float: left;
padding: 4px;
clear: left;
}

div.setting_form {
padding: 5px;
}

div.clear div.setting_desc {
clear: both;
}

button.aeclink {
-moz-user-select: text;
background: transparent none repeat scroll 0 0;
border: medium none;
color: #777;
cursor: pointer;
font-family: "Verdana",sans-serif;
font-size: 1em;
margin: 0;
padding: 0;
text-align: left;
}

button.aeclink span {
}
button.aeclink:hover span,
button.aeclink:focus span {
	color: black;
}

.aectextright {
text-align: right;
}


/* == Styling for the Checkout Page == */

#checkout {
width: 98%;
padding: 6px;
}

#checkout table {
float:left;
margin: 0 auto;
}

td.cleft {
padding: 2px;
margin: 0px;
width: 50%;
text-align: right !important;
}

td.cright {
padding: 2px;
margin: 0px;
width: 50%;
text-align: left !important;
}

table.amount {
float:left;
width: 100%;
padding: 2px 10%;
padding-top: 16px;
}

div#amountbox {
border:#DDD solid 1px;
}

table.amount tr {
position: relative;
float: left;
width: 100%;
padding: 2px;
border-bottom: 1px solid #555;
}

tr.total {
border-top: 2px solid #000;
border-bottom: none !important;
line-height: 32px;
}

td.item {
text-align: left;
}

td.amount {
float: right;
text-align: right;
}

td.item_later {
text-align: left;
width: 50%;
color: #999;
}

td.amount_later {
text-align: right;
width: 40%;
color: #999;
}

td.couponerror {
background-color: #fcc;
clear: both;
width: 100%;
margin-bottom: 10px;
border-bottom: 2px solid #aaa;
padding: 8px 4px 2px 8px !important;
}

.couponwarning {
float:left;
background-color: #ffb;
clear: both;
width: 100%;
}

td.couponinfo {
text-align: center;
background-color: #eee;
border-bottom: 2px solid #aaa;
padding: 2px !important;
}

td.coupondetails {
text-align: center;
padding: 4px !important;
}

table#couponsbox {
background-color: #ddd;
border-collapse: collapse;
}

td.giftinfo {
text-align: center;
background-color: #eee;
border-bottom: 2px solid #aaa;
padding: 2px !important;
}

td.giftdetails {
text-align: center;
padding: 4px !important;
}

table#giftbox {
background-color: #ddd;
border-collapse: collapse;
}

table#paramsbox {
margin-top: 24px;
background-color: #ddd;
}

table#checkoutbox {
margin-top: 24px;
background-color: #ded;
border-collapse: collapse;
}

table#checkoutbox th {
text-align: center;
background-color: #eee;
border-bottom: 2px solid #aaa;
padding: 2px !important;
font-weight: bold;
}

td.checkout_action {
text-align: center;
padding: 6px !important;
}

td.checkout_error {
background-color: #fcc;
clear: both;
width: 100%;
margin-bottom: 10px;
border-bottom: 2px solid #aaa;
padding: 8px 4px 2px 8px !important;
}

#checkoutbox a.linkbutton {
display: block;
padding: 4px;
width: 10em;
margin: 0 auto;
border-top: 2px solid #fff;
border-right: 2px solid #333;
border-bottom: 2px solid #333;
border-left: 2px solid #fff;
background-color: #ddd;
}

#checkoutbox a:active {
display: block;
padding: 4px;
width: 10em;
margin: 0 auto;
border-top: 2px solid #333;
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
border-left: 2px solid #333;
background-color: #ddd;
}

#checkoutbox label {
	display:block;
	float:left;
	width:48%;
	clear:left;
	text-align:right;
	padding-right:2%;
}
#checkoutbox .inputbox, #checkoutbox select{
	clear:right;
}
#checkoutbox .button{
	clear: both;
	display:block;
	float:right;
	margin: 6px;
}

table#aec_checkout {
width: 80%;
margin: 10px 10%;
border-collapse: collapse;
color: #777;
text-align: left;
}

table#aec_checkout td {
padding: 2px !important;
}

table#aec_checkout_item {
width: 80%;
margin: 10px 10%;
border-collapse: collapse;
color: #777;
}

table#aec_checkout_item td {
padding: 2px !important;
}

.current_period {
color: #000;
}

.aec_term_totalhead {
background-color: #fee;
text-indent: 12px;
border-bottom: 2px solid #daa;
}

tr.aec_term_totalhead th {
padding: 3px !important;
padding-top: 5px !important;
font-size: 110%;
}

tr.aec_term_typerow {
background-color: #eef;
text-indent: 12px;
border-bottom: 2px solid #aad;
}

tr.aec_term_typerow th {
padding: 3px !important;
padding-top: 5px !important;
font-size: 110%;
}

tr.aec_term_costrow {
background-color: #eee;
}

tr.aec_term_discountrow {
background-color: #f5f5f5;
}

tr.aec_term_totalrow {
background-color: #ddd;
border-top: 2px solid #555;
}

tr.aec_term_row_sep {
height: 20px;
}

td.aec_term_costtitle {
}

td.aec_term_costamount {
padding-right: 4px !important;
text-align: right;
font-weight: bold;
}

td.aec_term_taxtitle {
}

td.aec_term_taxamount {
padding-right: 4px !important;
text-align: right;
}

td.aec_term_discountamount {
padding-right: 4px !important;
text-align: right;
}

td.aec_term_totalamount {
padding-right: 4px !important;
text-align: right;
font-weight: bold;
text-decoration: underline;
}


table#aec_checkout_params {
width: 90%;
padding: 8px 4px;
margin: 8px 5% 4px 5%;
background-color: #fff;
border: 1px solid #aaa;
}


/* == Styling for the Subscription Details Page == */

#subscription_details {
padding: 8px;
}

div#aec_navlist_profile
{
margin: 10px;
padding: 0;
height: 22px;
font: 11px Verdana, sans-serif;
width: 97%;
border-bottom: 1px solid #bbb;
list-style-type: none;
background: #fff;
}

ul#aec_navlist_profile li
{
float: left;
margin: 0;
padding: 0;
width: auto;
display: block;
}

ul#aec_navlist_profile li a, ul#aec_navlist_profile li a:link
{
background: #eee;
color: #555;
text-decoration: none;
padding: 3px 5px 3px 5px;
display: block;
border-bottom: 1px solid #eee;
margin-right: 4px;
}

ul#aec_navlist_profile li a:hover
{
color: #039;
border-bottom: 3px solid #bbb;
cursor: pointer;
background: #eee;
}

ul#aec_navlist_profile li a#current, ul#aec_navlist_profile li a#current:link
{
color: #000;
background: #fff;
cursor: default;
font-weight: bold;
border-bottom: 3px solid #999;
}

ul#aec_navlist_profile li a#current:hover
{
border-bottom: 3px solid #f90;
background: #eee;
}

div.subscription_info {
border:3px solid #bbb;
margin: 2px;
padding: 4px;
}

#subscription_details h2 {
font-weight: bold;
font-size: 110%;
}

#subscription_details table {
float:left;
width: 100%;
padding-top:10px;
}

#subscription_details th {
background: #eee;
padding: 6px;
margin: 3px;
}

#subscription_details td{
padding: 10px;
margin: 3px;
text-align: center;
}

#thankyou_page {
}

#cancel_page {
}

.aec_clearfix {
clear: both;
height: 20px;
}

.aechidden {
display: none;
}

#myTabs{
margin: 6px auto;
padding: 2px;
}

.mootabs_title {
list-style-image: none;
list-style-type: none;
margin: 0px;
padding: 0px;
height: 24px;
}

.mootabs_title li {
float: left;
background-color: #ddd;
padding: 2px 8px 2px 8px;
margin-right: 2px;
cursor: pointer;
height: 24px;
list-style-type: none !important;
}

.mootabs_title li.active {
background-color: #e6e6e6;
text-decoration: underline;
}

.mootabs_title li.selected {
background-color: #e6e6e6;
font-weight: bold;
}

.mootabs_panel {
display: none;
background-color: #ddd;
position: relative;
width: 100%;
top: -1px;
clear: both;
overflow: visible;
padding: 2px;
}

.mootabs_panel.active {
background-color: #e6e6e6;
display: block;
}

.mootabs_panel.selected {
background-color: #e6e6e6;
display: block;
}
